<!DOCTYPE html>
<html lang="en" ng-app="movieApp">
<head>
    <meta charset="UTF-8">
    <title>wooaah films</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Movies n that init</a>
        </div>
    </div>
</nav>


<div ng-controller="movieController as movieCtrl">
    <h3><span>Movies what I like</span></h3>
    <table class="table" ng-style="movieCtrl.color">
        <p><input type="text" placeholder="Search" ng-model="movieSearch"></p>
        <tr>
            <th>id</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Rating</th>
        </tr>
        <tr ng-repeat="movie in movieCtrl.movies | filter:movieSearch" ng-hide="movieCtrl.isHidden">
            <td>{{movie.id}}</td>
            <td>{{movie.title}}</td>
            <td>{{movie.genre | uppercase}}</td>
            <td>{{movie.rating}}</td>
        </tr>
    </table>
    <button class="btn-default" ng-click="movieCtrl.hideTable()">Hide movies</button>
    <button class="btn-danger" ng-click="movieCtrl.changeColour('red')">RED</button>
    <button class="btn-info" ng-click="movieCtrl.changeColour('blue')">BLUE</button>
    <button class="btn-success" ng-click="movieCtrl.changeColour('green')">GREEN</button>
    <button class="btn-default" ng-click="movieCtrl.changeColour('black')">CLEAR</button>

    <link rel="stylesheet" href="scripts/bootstrap.min.css">
    <script src="scripts/jquery-2.1.4.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/ui-router.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>

    <script src="app/app.js"></script>
    <script src="app/controllers/movie-controller.js"></script>
</div>
</body>
</html>