<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="UTF-8">
    <title>wooaah films</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
</head>
<body ng-style="myStyle">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Movies n that init</a>
        </div>
    </div>
</nav>


<div ng-init ="movies=[ {'id': 1, 'title': 'Fight Club', 'genre': 'Drama', 'rating': '18'}, {'id': 2, 'title': 'Pulp Fiction', 'genre': 'Action', 'rating': '18'},{'id': 3, 'title': 'Dunkirk', 'genre': 'Action', 'rating': '18'},{'id': 4, 'title': 'Inception', 'genre': 'Sci-Fi', 'rating': '15'}]">
    <h3><span>Movies what I like</span></h3>
    <table class="table">
        <p><input type="text" placeholder="Search" ng-model="movieSearch"></p>
        <tr>
            <th>id</th>
            <th>Title</th>
            <th>Genre</th>
            <th>Rating</th>
        </tr>
        <tr ng-repeat="movie in movies | filter:movieSearch" ng-hide="isHidden">
            <td>{{movie.id}}</td>
            <td>{{movie.title}}</td>
            <td>{{movie.genre | uppercase}}</td>
            <td>{{movie.rating}}</td>
        </tr>
    </table>
    Hide/Show: <input type="checkbox" class="btn" ng-model="isHidden"/>
    <div class="btn-group">
        <button type="button" class="btn btn-danger" ng-click="myStyle={background:'purple'}">Danger</button>
        <button type="button" class="btn btn-default" ng-click="myStyle={background:'white   '}">We good</button>
    </div>

    <link rel="stylesheet" href="scripts/bootstrap.min.css">
    <script src="scripts/jquery-2.1.4.min.js"></script>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/ui-router.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
</div>
</body>
</html>